*{
    margin: 0;
    padding: 0;
    
}


header{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.nome{
    justify-content: left;
    font-size: 80px;
}
.aba{
    display: inline-block;
    justify-content: space-around;
    font-size: 70px;
}
p{
    font-size: 50px;

}

.site{
    background-image: linear-gradient(blue, white);
    
}

.naruto2{
    text-align: left;
}

.blue{
    text-align: center;
}

.bluelock{
   text-align: center;
}

.bleach{
    text-align: right;
}





